* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Frank Ruhl Libre", serif;
  font-family: "Fira Sans", sans-serif;
}
h2 {
  font-family: "Frank Ruhl Libre", serif;
}
p {
  font-family: "Fira Sans", sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(197, 196, 196);
}

.wrapper {
  margin: 0 auto;
  width: 62.5rem;
  height: auto;
  background-color: white;
}

header {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 34rem;

  background-color: #c7ddea;
}
header > :nth-child(1) {
  grid-column: 1 / span 3;
  grid-row: 1 / span 2;
  justify-content: flex-end;
}
header > :nth-child(2) {
  grid-column: 4 / span 3;
  grid-row: 1 / span 1;
  background-color: #f17949;
}
header > :nth-child(3) {
  grid-column: 4 / span 3;
  grid-row: 2 / span 1;
  background-color: #ffb939;
}
header h1 {
  font-size: 2.813rem;
  font-weight: 900;
  font-family: "Frank Ruhl Libre", serif;
}
/* header:nth-child(n + 1) {
  margin-top: auto;
} */
header h2 {
  align-self: center;
  font-size: 2rem;
  color: #ffffff;
  font-weight: 900;
  font-family: "Frank Ruhl Libre", serif;
}
/* Nedan de två högra gridrutorna med specifikt fall för <p> */
header article p:nth-child(1) {
  font-size: 0.688rem;
  color: #00000080;
  font-weight: 700;
}
/* Ovan de två högra gridrutorna med specifikt fall för <p> */
header p {
  /* alla p-element */
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: #00000099;
  padding-right: 7rem;
  padding-left: 7rem;
  align-self: center;
}
.white-text {
  font-size: 0.875rem;
  font-weight: 700;
  color: #ffffff;
}
button {
  background-color: #ffffff;
  color: #000000cc;
  width: 8.188rem;
  height: 2.438rem;
  font-weight: 700;
  font-size: 0.625rem;
  border-radius: 6.25rem;
  border-style: none;
  box-shadow: 0px 2px 0px 0px #0000001a;
}

header article {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
header article button {
  position: absolute;
  left: 9rem;
  bottom: 10.5rem;
}
/* Första grid-container och dess POSITIONERING */
header article > h1 {
  padding: 2rem 7rem 0rem 7rem;
  line-height: 2.813rem;
}

article img {
  width: 17.875rem;
  height: auto;
  align-self: flex-end;
}

nav ul {
  list-style-type: none;
}
ul {
  display: flex;
  justify-content: space-around;
}
section {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 42.5rem;
  gap: 1rem;
  background-color: #c7ddea;
  margin: 0 auto;
}
